<div class="row">


<% if flash[:notice] %>
  <div class="flash"><%= flash[:notice] %></div>
<% end %>

  <div class="col-xs-3">
    <%= render 'users/user', user: @user %>
  </div>

<div class="col-xs-8">
  <h1>Users</h1>
    <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th>show</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td>
          <%= link_to user_path(user.id) do %>
          <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %> <% end %> </td>
          <td><%=user.name %></td>
          <td><%= link_to "Show", user_path(user.id), class: "pull-right" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
</div>
  <div class="col-xs-3">
    <%= render 'books/form', book: @book %>
  </div>
