<% if flash[:notice] %>
  <div class="flash"><%= flash[:notice] %></div>
<% end %>

  <h1>Editing Books</h1>
  <!-- form_for部分 -->
  <%= form_for(@book, url: "/books/#{@book.id}") do |f| %>

   <div class="field">
    <h4>Title</h4>
    <%= f.text_field :title %>
   </div>

   <div class="field">
    <h4>Body</h4>
    <%= f.text_area :body %>
   </div>

   <div class="actions">
    <%= f.submit 'Update Book' %>
   </div>
  <% end %>
<br>
<%= link_to "Show", book_path(@book.id) %>
|
<%=link_to 'Back', books_path %>