<div class="rou">


<% if flash[:notice] %>
  <div class="flash"><%= flash[:notice] %></div>
<% end %>


<h2>Editing Book</h2>

  <%= form_for(@book, url: book_path) do |f| %>
    <% if @book.errors.any? %>
       <h3><%= @book.errors.count %>error!</h3>
       <ul>
         <% @book.errors.full_messages.each do |message| %>
         <li><%= message %></li>
         <% end %>
       </ul>
    <% end %>

  <br>

      <label for="control-label sr-only">Title</label>
        <div class="form-group has-icon">
      	 <%= f.text_field :title, autofocus: true, class:"form-control", id:"title", placeholder:"title"%>
        </div>

      <label for="control-label sr-only">Opinion</label>
        <div class="form-group has-icon">
          <%= f.text_area :body, class:"form-control", rows:"3" %>
        </div>

      <hr>
        <%= f.submit "Update Book", class:"btn btn-primary btn-lg btn-block btn-base-1 mt-20" %>
        <% end %>

  <%= link_to "Show", book_path(@book.id) %>
  |
  <%= link_to 'Back', books_path %>

</div>
