<body>
<% if flash[:notice] %>
  <div class="flash"><%= flash[:notice] %></div>
<% end %>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
  <div class="container">
  <div class="row">

 <div class="col-xs-4">
  <!-- form_for部分 -->
  <%= render 'books/form', books: @books %>
 </div>


<div class="col-xs-8">
<h1>Books</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= attachment_image_tag @user, :profile_image, :fill, 30, 30, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
        <td><%= link_to book_path(book.id) do %>
          <%=book.title %> <% end %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>




<% else %>
<!-- ユーザーがログインしていなかった時の処理 -->
        <h1>welcome to <strong>Bookers</strong> !!</h1>
          <p><strong>In Bookers,</strong>  you can share and
          exchange your opinions , inpressions , and emotions</p>
          <p>about various books!</p>
        <br>
        <div class="grid-6">
          <%= link_to "sign in", new_user_registration_path, class: 'post' %>
          <%= link_to "sign up", new_user_session_path, class: 'post' %>
        </div>


</div>
</div>
<% end %>

</body>