<body>

<% if flash[:notice] %>
  <div class="flash"><%= flash[:notice] %></div>
<% end %>

<!-- ユーザーがログインしているか調べる -->
<% if user_signed_in? %>

<!-- ユーザーがログインしていた時の処理 -->

  <div class="container">
  <div class="row">

   <!-- form_for部分 -->
   <div class="col-xs-4">
    <%= render 'books/form', book: @book %>
   </div>


<div class="col-xs-8">
<h1>Books</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
        <td><%= link_to book_path(book.id) do %>
          <%=book.title %> <% end %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
</div>
<br>

<% else %>
<!-- ユーザーがログインしていなかった時の処理 -->
      <div class="rou">
        <div class="top-message col-md-offset-3col-md-6">
        <h1>welcome to
          <strong><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers</strong>!!</h1>
          <p><strong>In
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,</strong>
            you can share and exchange your opinions , inpressions , and emotions</p>
          <p>about various books!</p>
        </div>

        <br>
          <div class="btn-wrapper">
            <div class="rou">
              <%= link_to "Log in", new_user_session_path, class:"btn btn-info col-xs-10 col-xs-offset-1" %>
            </div>

          <div class="rou">
              <%= link_to "Sign up", new_user_registration_path, class:"btn btn-success col-xs-10 col-xs-offset-1" %>
          </div>
          </div>
        </div>
<% end %>
</body>