<% if flash[:notice] %>
  <div class="flash"><%= flash[:notice] %></div>
<% end %>

<h2>Book detail</h2>
<%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
<p><%= @book.user.name %></p>

<p><%= @book.title %></p>

<p><%= @book.body %></p>

<br>
<% if @book.user == current_user %>
 <%= link_to "Destroy", book_path(@book), method: :delete %>
<% end %>