<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.Title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @book.Body %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
